* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #FFF7F0;
    font-family: "Plus Jakarta Sans", sans-serif;
}

p {
    font-size: 1rem;
}

/* Inicio: Barra de navegación y hero */
nav,
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    margin: 30px;
}

.logo {
    width: 100%;
}

.logo img {
    width: 50px;
    height: 50px;
}

.parte-uno p {
    color: #7A746E;
}

#call-to-action {
    background-color: #030303;
    color: #FFF7F0;
    font-size: 1rem;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 1000px;
}

#hero {
    text-align: center;
    margin: 0px 50px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.text-content p {
    color: #7A746E;
}

/* Final: Barra de navegación y hero */

/* Inicio: contenedores de imagenes */

.image-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
    grid-auto-rows: 19rem;
    gap: 1rem;
    margin: 30px 80px;

}

.image-content h2 {
    color: #FFF7F0;
    font-size: 1.5rem;
    padding: 10px;
}

.image-content a {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    text-decoration: none;
}

.graphic-content {
    background-color: #755CDE;
    background-image: url(./imagenes/image-content-1.png);
    background-size: 128px 192px;
    background-repeat: no-repeat;
    background-position: 90% 10%;
    border-radius: 10px;
}

.illustrations-content {
    background-color: #EB7565;
    background-image: url(./imagenes/image-content-2.png);
    background-size: 229px 110px;
    background-repeat: no-repeat;
    background-position: 85% 10%;
    border-radius: 10px;
}

.photography-content {
    background-color: #61C4B7;
    background-image: url(./imagenes/image-content-3.png);
    background-size: 86px 218px;
    background-repeat: no-repeat;
    background-position: 90% 10%;
    border-radius: 10px;
}

/* Inicio: Presentación de Amy: imagen, texto, botón de enlace */
.amy-presentation {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    margin: 20px 50px;
    justify-content: center;
    align-items: center;
}

.image-presentation img {
    width: 250px;
    height: 250px;
}

.image-presentation {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-presentation h1 {
    font-size: 2rem;
    text-align: center;
}
.text-presentation p {
    color: #7A746E;
    margin: 34px 0px 32px 0px;
    text-align: center;
}

.button-consultation1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-consultation1 a {
    background-color: #EB7565;
    padding: 15px 30px;
    white-space: nowrap;
    border-radius: 1000px;
    color: #FFF7F0;
    font-size: 1rem;
    text-decoration: none;
}
/* Final: Presentación de Amy: imagen, texto, botón de enlace */

/* Inicio de sección My Work */

h3 {
    font-size: 1.5rem;
    text-align: center;
}

.amy-work {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-auto-rows: 18rem;
    gap: 1rem;
}

.images-work-1 {
    background-color: #FFF7F0;
    background-image: url(./imagenes/my-work-1.png);
    background-size: 300px 270px;
    background-repeat: no-repeat;
    background-position: center center;
}

.images-work-2 {
    background-color: #FFF7F0;
    background-image: url(./imagenes/my-work-2.png);
    background-size: 300px 270px;
    background-repeat: no-repeat;
    background-position: center center;
}

.images-work-3 {
    background-color: #FFF7F0;
    background-image: url(./imagenes/my-work-3.png);
    background-size: 300px 270px;
    background-repeat: no-repeat;
    background-position: center center;
}

/* Final de Text consultation */
.consultation-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
    grid-auto-rows: 10rem;
}

.text-consultation {
    background-color: #030303;
}

.text-consultation {
    color: #FFF7F0;
    padding: 15px;
    text-align: center;
}

.button-consultation2 {
    background-color: #030303;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-consultation2 a {
    background-color: #EB7565;
    padding: 15px 30px;
    white-space: nowrap;
    border-radius: 100vw;
    color: #FFF7F0;
    font-size: 1rem;
    text-decoration: none;
}

@media (width > 768px) {
/* Inicio: contenedores de imagenes */

.image-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    grid-auto-rows: 18rem;
    gap: 1rem;
    margin: 30px 80px;
}

.image-content h2 {
    color: #FFF7F0;
    font-size: 1.3rem;
    padding: 10px;
}

.image-content a {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    text-decoration: none;
}

.graphic-content {
    background-color: #755CDE;
    background-image: url(./imagenes/image-content-1.png);
    background-size: 98px 162px;
    background-repeat: no-repeat;
    background-position: 90% 10%;
    border-radius: 10px;
}

.illustrations-content {
    background-color: #EB7565;
    background-image: url(./imagenes/image-content-2.png);
    background-size: 180px 90px;
    background-repeat: no-repeat;
    background-position: 85% 10%;
    border-radius: 10px;
}

.photography-content {
    background-color: #61C4B7;
    background-image: url(./imagenes/image-content-3.png);
    background-size: 65px 180px;
    background-repeat: no-repeat;
    background-position: 90% 10%;
    border-radius: 10px;
}

/* Inicio: Presentación de Amy: imagen, texto, botón de enlace */
.amy-presentation {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    margin: 20px 80px;
    gap: 10px;
}

.image-presentation img {
    width: 300px;
    height: 300px;
    
}

.image-presentation {
    margin-bottom: 30px;
    width: 100%;
}

.text-presentation h1 {
    font-size: 1.7rem;
}
.text-presentation p {
    color: #7A746E;
    margin: 34px 0px 32px 0px;
}

.button-consultation1 {
    display: flex;
    flex-direction: column;
}

.button-consultation1 a {
    background-color: #EB7565;
    padding: 15px 30px;
    white-space: nowrap;
    border-radius: 1000px;
    color: #FFF7F0;
    font-size: 1rem;
    text-decoration: none;
}
/* Final: Presentación de Amy: imagen, texto, botón de enlace */

/* Inicio de sección My Work */

h3 {
    font-size: 1.5rem;
    text-align: center;
}

.amy-work {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-auto-rows: 14rem;
    gap: 1rem;
}

.images-work-1 {
    background-color: #FFF7F0;
    background-image: url(./imagenes/my-work-1.png);
    background-size: 300px 270px;
    background-repeat: no-repeat;
    background-position: center center;
}

.images-work-2 {
    background-color: #FFF7F0;
    background-image: url(./imagenes/my-work-2.png);
    background-size: 300px 270px;
    background-repeat: no-repeat;
    background-position: center center;
}

.images-work-3 {
    background-color: #FFF7F0;
    background-image: url(./imagenes/my-work-3.png);
    background-size: 300px 270px;
    background-repeat: no-repeat;
    background-position: center center;
}

/* Final de Text consultation */
.consultation-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
    grid-auto-rows: 10rem;
    margin: 50px 50px;
}

.text-consultation {
    background-color: #030303;
    color: #FFF7F0;
    padding: 15px;
}


.button-consultation2 {
    background-color: #030303;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-consultation2 a {
    background-color: #EB7565;
    padding: 15px 30px;
    white-space: nowrap;
    border-radius: 100vw;
    color: #FFF7F0;
    font-size: 1rem;
    text-decoration: none;
}
}

@media (width > 1000px) {
    p {
        font-size: 1.125rem;
    }
    
    /* Inicio: Barra de navegación y hero */
    nav,
    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 34px 100px 66px 100px
    }
    
    .logo {
        width: 100%;
    }
    
    .logo img {
        width: 64px;
        height: 64px;
    }
    
    .parte-uno p {
        color: #7A746E;
    }
    
    #call-to-action {
        background-color: #030303;
        color: #FFF7F0;
        font-size: 1rem;
        text-decoration: none;
        white-space: nowrap;
        padding: 14px 55px;
        border-radius: 1000px;
    }
    
    #hero {
        text-align: center;
        margin: 0px 100px 0px 100px;
    }
    
    h1 {
        font-size: 3.5rem;
        margin-block-end: 22px;
    }
    
    .text-content p {
        color: #7A746E;
    }
    
    /* Final: Barra de navegación y hero */
    
    /* Inicio: contenedores de imagenes */
    
    .image-content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
        grid-auto-rows: 22.75rem;
        gap: 1.5rem;
        margin: 80px 165px 146px 165px;
    
    }
    
    .image-content h2 {
        color: #FFF7F0;
        font-size: 1.5rem;
        padding: 10px;
    }
    
    .image-content a {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        text-decoration: none;
    }
    
    .graphic-content {
        background-color: #755CDE;
        background-image: url(./imagenes/image-content-1.png);
        background-size: 128px 192px;
        background-repeat: no-repeat;
        background-position: 90% 10%;
        border-radius: 10px;
    }
    
    .illustrations-content {
        background-color: #EB7565;
        background-image: url(./imagenes/image-content-2.png);
        background-size: 229px 110px;
        background-repeat: no-repeat;
        background-position: 85% 10%;
        border-radius: 10px;
    }
    
    .photography-content {
        background-color: #61C4B7;
        background-image: url(./imagenes/image-content-3.png);
        background-size: 86px 218px;
        background-repeat: no-repeat;
        background-position: 90% 10%;
        border-radius: 10px;
    }
    
    /* Inicio: Presentación de Amy: imagen, texto, botón de enlace */
    .amy-presentation {
        display: flex;
        flex-direction: row;
        font-size: 1rem;
        margin: 20px 165px;
        gap: 32px;
    }
    
    .image-presentation img {
        width: 410px;
        height: 410px;
        
    }
    
    .image-presentation {
        margin-bottom: 30px;
        width: 100%;
    }
    
    .text-presentation h1 {
        font-size: 2.5rem;
    }
    .text-presentation p {
        color: #7A746E;
        margin: 34px 0px 32px 0px;
    }
    
    .button-consultation1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .button-consultation1 a {
        background-color: #EB7565;
        padding: 15px 30px;
        white-space: nowrap;
        border-radius: 1000px;
        color: #FFF7F0;
        font-size: 1rem;
        text-decoration: none;
    }
    
    /* Final: Presentación de Amy: imagen, texto, botón de enlace */
    
    /* Inicio de sección My Work */
    
    h3 {
        font-size: 2rem;
        display: flex;
        justify-content: center;
        margin-bottom: 56px;
    }
    
    .amy-work {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(24.375rem, 1fr));
        grid-auto-rows: 22.5rem;
        gap: 56px;
        justify-content: center;
        margin-bottom: 50px;
    }
    
    .images-work-1 {
        background-color: #FFF7F0;
        background-image: url(./imagenes/my-work-1.png);
        background-size: 390px 360px;
        background-repeat: no-repeat;
        background-position: center center;
    }
    
    .images-work-2 {
        background-color: #FFF7F0;
        background-image: url(./imagenes/my-work-2.png);
        background-size: 390px 360px;
        background-repeat: no-repeat;
        background-position: center center;
    }
    
    .images-work-3 {
        background-color: #FFF7F0;
        background-image: url(./imagenes/my-work-3.png);
        background-size: 390px 360px;
        background-repeat: no-repeat;
        background-position: center center;
    }
    
    /* Final de Text consultation */
    .consultation {
        padding: 0px 165px;
        justify-content: center;
    }
    
    .consultation-container {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
        grid-auto-rows: 18rem;
    }
    
    .text-consultation {
        background-color: #030303;
    }
    
    .text-consultation {
        color: #FFF7F0;
        padding: 60px 0 0 60px;
    }
    
    .text-consultation h1 {
        font-size: 2rem;
    }
    
    .button-consultation {
        background-color: #030303;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .button-consultation a {
        background-color: #EB7565;
        padding: 15px 30px;
        white-space: nowrap;
        border-radius: 1000px;
        color: #FFF7F0;
        font-size: 1rem;
        text-decoration: none;
    }
    
    /* Inicio de Footer */
    
    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 34px 100px 66px 100px
    }

}